<h1>Edit this Cat Flat</h1>

<%= render 'form', flat: @flat %>

<%= link_to "Delete Flat", flat_path(@flat), method: :delete, class: 'btn btn-danger mt-3', data: { confirm: "Are you sure you want to delete this flat?" } %>
