<%= simple_form_for [flat, booking] do |f| %>
  <%= f.input :start_date,
              as: :string,
              input_html: { data: { action: 'input->booking-form#updatePriceTable' }, class: 'datepicker', placeholder: 'Start date', autocomplete: 'off' } %>
  <%= f.input :end_date,
              as: :string,
              input_html: { data: { action: 'input->booking-form#updatePriceTable' }, class: 'datepicker', placeholder: 'End date', autocomplete: 'off' } %>

  <table class="table table-borderless d-none" id="booking-price-table">
    <tbody>
      <tr>
        <td>Day(s)</td>
        <td id="booking-days"></td>
      </tr>
      <tr>
        <td>Total</td>
        <td id="booking-price"></td>
      </tr>
    </tbody>
  </table>

  <% if flat.user == current_user %>
    <span class="btn btn-primary btn-block disabled">This flat belongs to you</span>
  <% else %>
    <%= f.submit 'Book Now', class: 'btn btn-primary btn-block disabled', id: 'booking-submit' %>
  <% end %>
<% end %>
