<%= simple_form_for [flat, booking] do |f| %>
  <%= f.input :start_date,
              as: :string,
              input_html: { data: { action: 'blur->booking-form#updatePriceTable' }, class: 'datepicker', placeholder: 'Start date' } %>
  <%= f.input :end_date,
              as: :string,
              input_html: { data: { action: 'blur->booking-form#updatePriceTable' }, class: 'datepicker', placeholder: 'End date' } %>

  <table class="table table-borderless d-none">
    <tbody>
      <tr>
        <td>Day(s)</td>
        <td></td>
      </tr>
      <tr>
        <td>Price</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <% if flat.user == current_user %>
    <span class="btn btn-primary btn-block disabled">This flat belongs to you</span>
  <% else %>
    <%= f.submit 'Book Now', class: 'btn btn-primary btn-block' %>
  <% end %>
<% end %>
